$line-height: 24px;

//color specifications
$color-blue-main: #073A82;
$color-blue-medium: #5F8ED0;
$color-baby-blue: #DBE9FE;
$color-lightblue-text: rgba(18, 31, 62, 0.8);
$color-green-main: #16AA51;
$color-green-light: #0DCF5B;
$color-black-main: #412d2d;
$color-black-medium: #5B5B5B;
$color-black-light: rgba(0, 0, 0, 0.4);
$color-white-main: #FFFFFF;
$color-gray-main: rgba(0, 0, 0, 0.4);
$color-gray-medium: #C4C4C4;
$color-gray-light: #e9e7e7;
$color-red-main: #E21D1D;


//typography
$font-size-major: 20px;
$font-size-title: 18px;
$font-size-normal: 16px;
$font-size-text: 15px;
$font-size-small: 14px;
$font-size-tiny: 12px;
